@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

*{
	padding: 0;
	margin: 0;
	/*border: 1px solid #ccc;*/
}
p, .a a{
	font-family: 'Open Sans Condensed', sans-serif;
}
img{
	width: 100%;
	max-width: 100%;
}
.col-2{
  width: 50%;
  max-width: 50%;	
}

.col-3{
    width: 100%;
 /*/////////home/////////*/
}
#home{
    height: 1015px;
}
#nav{
	display: inline-flex;
	padding: 10px;
	width: 98%;
	background-color: white;
    position: fixed;
    z-index: 1000;
}
.noven{
	border: 2px solid black;
	padding: 5px 0px 5px 5px;
    margin: 1%;
}
.a{
    margin: auto;
    width: 60%;
    margin-right: 0;
}
.a a{
    text-decoration: none;
    color: black;
    margin: 0 8%;
    font-size: 1.5em;
}
.container{
    height: 90%;
    background-color: #BBC7BA;
}
.img{
    border: 22px solid white;
    margin: 63px 0 0 30px;
}
.back{
    margin-top: 8%;
    background: white;
    width: 52%;
    position: absolute;
    height: 914px;
    display: inline-block;
}
.textCont{
    left: 555px;
    position: absolute;
    width: 100%;
    height: 430px;
    top: 200px;
    background-color: white;
}
.textBox{
    width: 93%;
    background-color: #e4ded8;
    height: 385px;
    border: 22px solid white;
}
.greeting{
    font-size: 4em;
    font-weight: bolder;
    color: #402F31;
    margin: 68px 0 0 54px;
}
@keyframes typing{
    from{width: 0;}
    to{width: 51%}
}
@keyframes blinking-cursor {
  from, to { border-color: transparent }
  50% { border-color: #9B7777; }
}
.typewriter{
    color: #9B7777;
    font-size: 2.5em;
    margin: auto 57px;
    overflow: hidden;
    white-space: nowrap;
    border-right: .05em solid #9B7777;
    animation: 
        typing 4s steps(40, end),
        blinking-cursor .5s step-end infinite;
}
/*//////////////about/////////////*/
#about{
    width: 100%;
    display: flex;
    margin-top: 50px;
}
.gray{
    width: 70%;
}
.pinkBack{
    width: 70%;
    margin-top: 21px;
    border-left: 54px solid white;
    background-color: #e4ded8;
    height: 710px;
}
.lapimg{
    position: absolute;
    margin: 85px 0 0 144px;
    border: 22px solid white;
}
.col-1{
    width: 30%;
    margin: 132px 0 0 -87px;
}
h2{
    font-size: 3em;
    font-weight: bolder;
    color: #402F31;
    margin: 0 0 35px 0px;
}
.col-1 p{
    font-size: 1.1em;
}

/*/////////////////projects/////////////*/
.pro{
    margin: 89px 0 -74px 55px;
}
.container2{
    width: 90%;
    background-color: #e4dfd9;
    margin: 77px 0 0 52px;
    display: flex;
}
.hostel{
    height: 278px;
    margin-left: 0px;
    /*border: 30px solid #BBC7BA;*/
    /*background-color: #BBC7BA;*/
}
.hostel img{
    border: 22px solid white;
    margin-left: 69px;
}
.exeptional{
    z-index: 2;
    margin: 182px -113px 0 0;
    height: 540px
}
.exeptional img{
    border: 22px solid white;
    margin-left: 55px;
}


/*////////////////footer////////////////*/
#footer{
   width: 92%;
   margin: 0 auto;
   display:flex;
   margin-top: 100px;
   background-color: #402F31;
   height: 270px; 
}
.form{
    margin: 38px;
    width: 27%;
    display: block;
    font-size: 2em;
    color: white;
}
input{
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 0.4em;
}
.icons{
    font-size: 1.2em;
    width: 59%;
    text-align: center;
}
.icons i{
    color: white;
    font-size: 2em;
    margin: -32px 26px;
}
.link,a{
    margin: 11px;
    color: white;
    text-decoration: none;
}
